# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# IDE / Editor
.vscode/
.idea/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*

# Temporary reports

reports/recon_report_*.html
!reports/recon_report_example.com.html